* {
    margin: 0;
    text-decoration:none;
}


.home {
    font-size: 26px;
    margin-right: 35px;
    color: black;
    }

.home:hover {
    color: yellowgreen;
}



.project-board {
    font-size: 26px;
    margin-right: 35px;
    color: black;
    }
.project-board:hover {
    color: yellowgreen;
}

.github {
    font-size: 26px;
    margin-right: 35px;
    color: black;
    }
.github:hover {
    color: yellowgreen;
}


.contact {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: black;
    
    transition: all .3s ease;
}

.contact:hover {
    transform: scale(1.5);
    color: yellowgreen;
}




html {
    background: #e4f5db;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
   
    }

 

.navbar {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    box-shadow: 0 2px 4px 0 #e9ecef;
}


h1 {
margin-top: 35px;
display: flex;
justify-content: center;
font-size: 3em;
letter-spacing: 1.5px;

}

.me > img {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
   margin-right: auto;
}

.info {
    
    margin-top: 35px;
  
    font-size: 2em;
    line-height: 1.5;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .info {
        width: 90%;
        background: 100%;
    }
}

