* {
    margin: 0;
    background: #023e8a;
    color: whitesmoke;
}



h1 {
    height: 75px;
    border-bottom: 2px solid black;
    box-shadow: 0 0 2px 0 #ade8f4;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.grid-container {
   
    text-align:center;
    margin-top: 85px;
     }

.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
    
} 

.row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
} 

.row3 {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
} 

.gallery__img {
    height: 225px;
    width: 375px;
    margin-bottom: 45px;
    cursor: pointer;
    transition: .2s ease;
    border: 1px solid black;
    box-shadow: 1px 2px 2px 1px #ade8f4;
    }

.gallery__img:hover {
    transform: scale(2.5);
    transform: translateY(75px), scale(2.5);
}   

.grid-item > figcaption {
    font-size: 22px;
    letter-spacing: 1.3px;
}

.links {
    display: flex;
    justify-content: start;
    padding: 10px;
    text-decoration: none;
}
.home {
    padding: 8px;
}
.about {
    padding: 8px;
}

@media (max-width: 780px) {
    .row1 {
        display: block;
        justify-content: center;
        object-fit: cover;
    }
}

@media (max-width: 780px) {
    .row2 {
        display: block;
        justify-content: center;
        object-fit: cover;
    }
}

@media (max-width: 780px) {
    .row3 {
        display: block;
        justify-content: center;
        object-fit: cover;
    }
}

@media (max-width: 780px) {
    .row4 {
        display: block;
        justify-content: center;
        object-fit: cover;
    }
}

@media (max-width: 780px) {
    .row5 {
        display: block;
        justify-content: center;
        object-fit: cover;
    }
}

@media (max-width: 780px) {
    .row6 {
        display: block;
        justify-content: center;
        object-fit: cover;
    }
}



   
