* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-weight: 300;
}

section {
    height: 100vh;
    width: 100%;
    background-color: #f1faee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #00000070;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgb(128, 128, 128, 0.199);
    box-shadow: 0px 0px 2px #00000070;
    border-radius: 8px;
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    margin-top: 8px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #00000070;
    font-family: 'Montserrat';
    letter-spacing: 1.2px;
    font-weight: 600;
    color: rgb(27, 166, 247);
    cursor: pointer;
    transition: all .3s ease;
}

button[type="submit"]:hover {
    box-shadow: 0 0.5em 0.5em -0.2em #00f5d4;
    transform: translateY(-0.25em);
    color: #00f5d4;
    background-color: black;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success {
    background-color: #069e2d;
    font-size: 24px;
    color: whitesmoke;
    animation: status 4s ease forwards;
}

#status.error {
    background-color: red;
    font-size: 24px;
    color: whitesmoke;
    animation: status 4s ease forwards;
}

@keyframes status {
0% {
    opacity: 1;
    pointer-events: all;
}
90% {
    opacity: 1;
    pointer-events: all;
}
100% {
    opacity: 0;
    pointer-events: none;
 }
}


